###> IDE
/.idea/
###< IDE

###> symfony/framework-bundle ###
/.env
/public/bundles/
/var/
/vendor/
.phpunit.result.cache
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
/phpunit.xml
###< symfony/phpunit-bridge ###

composer.phar
phpunit.phar